@{
    ViewData["Title"] = "Sobre nós";
}

<div id="infoDiv">
                    Engenharia Informática<br />
                    <span class='fs-4'>Desenvolvimento Web</span><br /><br />
                    Realizado por:<br />
                    <span class='fs-4'>Rodrigo Serra nº24180</span><br />
                    <span class='fs-4'>Rúben Cardoso nº23885</span><br />
                </div>
